
@{ 
    ViewBag.Title = "Home Page";
    //C# kodları @ operatörü ile başlar süslü parantez ile biter. C# kodları sonucunda geriye html bir şey döndürmek istersek,
    //<text></text> , <p></p> , <h1></h1> , @:(tek bir satırlık çıktı) taglarini kullanırız.
}


    <h3>Home View</h3>

    <!--
     @if (DateTime.Now.Second %2 == 0)
     {
       <text>True is true</text>
    }

     @for (int i = 0; i < DateTime.Now.Second; i++)
     {
        <text>Hello World</text>
     }

     -->
    <!--
        <a href="Login">Click Here</a> To Login <br />
    <a href="http://www.trakya.edu.tr">Trakya Üniversitesi Web Sitesi</a>
    <br />

    @Html.RouteLink("Click here", "Login") to go to login page
    -->
    <!--Link Text , RouteName-->
    <!--Sitemizin değişmeyen kısımları layouta, değişenleri action view files a koyuyoruz.-->
