@{ 
    ViewBag.Title = "Home Page";
}
<h3>Simple Blog Web Application</h3>


@section Scripts{
    <script>
        alert("Hi");
    </script>
}

@section  Top{
    <h2>Html Content From section named : Data</h2>
    }

@{
    SqlConnection cn = new SqlConnection();
}